node_modules
dist
ts/build
static/codemirror
static/jqwidgets
static/configClient.js
static/jquery.min.js
static/mudslinger.js
static/socket.io.min.js
.vs/
public/jqwidgets
public/jquery.min.js
public/codemirror-theme-one-dark.js
